name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.6"
          enable-cache: true
      - name: Build
        run: uv build
      - name: Test wheel
        run: uv run --isolated --no-project --with dist/*.whl pytest
      - name: Test sdist
        run: uv run --isolated --no-project --with dist/*.tar.gz pytest
      - name: Publish
        run: uv publish
